.ordenarElJuego {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre columnas */
    overflow: hidden;
}

.zonaDeJuego {
    position: relative; /* Necesario para que los puntos se posicionen correctamente */
    width: 100%; /* Ajusta al 100% del contenedor padre */
    height: 500px; /* Ajusta la altura según el tamaño deseado */
    background-image: url('./assets/img/casa_oval.jpg'); /* Establece la imagen de fondo */
    background-size: cover; /* Asegúrate de que la imagen cubra el contenedor */
    background-position: center; /* Centra la imagen */
    border: 1px solid black;
}

.punto {
    position: absolute; /* Necesario para que las coordenadas funcionen */
    width: 50px; /* Ajusta el tamaño de los puntos según sea necesario */
    height: 50px;
    background-image: url('./assets/img/trumpFace.png'); /* Imagen del punto */
    background-size: cover;
    cursor: pointer;
}

.usuarioStats {
    text-align: center;
    padding: 10px;
}

#usuarioInput {
    padding: 10px;
    margin-bottom: 10px;
}

.buttonUsuario, .buttonReset {
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.puntosContador {
    margin-top: 10px;
}

#highscoreHistorico {
    margin-top: 10px;
}

.botonesExtra {
    display: flex;
    justify-content: flex-end;
}

#resetearStats {
    padding: 5px;
    margin: 5px;
}
