.ordenarElJuego {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre columnas */
    overflow: hidden;
}

.zonaDeJuego {
    position: relative; 
    width: 100%; 
    height: 500px; 
    background-image: url('./../img/casa_oval.jpg'); 
    background-size: cover; 
    background-position: center; 
    border: 1px solid black;
}

.punto {
    position: absolute; /* Necesario para que las coordenadas funcionen */
    width: 50px; /* Ajusta el tamaño de los puntos según sea necesario */
    height: 50px;
    background-image: url('./../img/trumpFace.png'); 
    background-size: cover;
}

.usuarioStats {
    text-align: center;
    padding: 10px;
}

#usuarioInput {
    padding: 10px;
    margin-bottom: 10px;
}

.buttonUsuario, .buttonReset {
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.puntosContador {
    margin-top: 10px;
}

#highscoreHistorico {
    margin-top: 10px;
}

.botonesExtra {
    display: flex;
    justify-content: flex-end;
}

#resetearStats {
    padding: 5px;
    margin: 5px;
}


.toastify {
    padding: 12px 20px;
    color: #ffffff;
    display: inline-block;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
    background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
    background: linear-gradient(135deg, #002fff, #5477f5);
    position: fixed;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 10px 5px 20px 5px;
    cursor: pointer;
    text-decoration: none;
    max-width: calc(50% - 20px);
    z-index: 2;
}
.toastify.on {
    opacity: 1;
}

.toast-close {
    background: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    opacity: 0.4;
    padding: 0 5px;
}

.toastify-right {
    right: 15px;
}

.toastify-left {
    left: 15px;
}

.toastify-top {
    top: -150px;
}

.toastify-bottom {
    bottom: -150px;
}

.toastify-rounded {
    border-radius: 25px;
}

.toastify-avatar {
    width: 1.5em;
    height: 1.5em;
    margin: -7px 5px;
    border-radius: 2px;
}

.toastify-center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: fit-content;
    max-width: -moz-fit-content;
}

.zonaDeJuego {
    cursor: url('./../img/pistol.ico'), auto; /* Especifica un cursor de respaldo */
}
